<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179634384652-t640k3064mt3h365enqinsrmp39o35nb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179634384652-t640k3064mt3h365enqinsrmp39o35nb</string>
	<key>API_KEY</key>
	<string>AIzaSyCLPUaTtdRohni6gSHg4dHZAY0MrQlj1Ew</string>
	<key>GCM_SENDER_ID</key>
	<string>179634384652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iankwemboyasapplication.app</string>
	<key>PROJECT_ID</key>
	<string>stroller-fb9a8</string>
	<key>STORAGE_BUCKET</key>
	<string>stroller-fb9a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179634384652:ios:3b29af6aae9806dfd22329</string>
</dict>
</plist>